.App {
  background: #ccc;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.verseObj {
  border: 1px solid #aaa;
  padding: 12px;
  margin-bottom: 12px;
  cursor: pointer;
}

.verseObj:hover .oneAnother {
    background-color: rgb(236, 236, 236);
}

.number {
  font-weight: bold;
  padding-right: 12px;
  color: #888;
}

.verses {

}


.reference {
  padding-left: 12px;
  font-size: 80%;
  color: #222;
}


footer {
  display: flex;
  flex-direction: column;
  color: #555;
  font-size: 80%;
}